html, body {
  background-color: #0D0D0D;
}

.App {
  text-align: center;
  background-color: #0D0D0D;
  transition: 2s opacity;
  overflow:auto;
}

.fade-out {
  opacity: 0;
}

.page {
  height: 100%;
  background-color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 120px;
}

.App-header {
  background-color: black;
  height: 220px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.brand {
  margin-top: 30px;
  font-size: 20px;
}

.card {
  margin: 0 auto;
  text-align:center;
}

.card img {
  margin: 0 auto;
}

.top-padding {
  padding-top: 20px;
}

.full-height {
  height: 100%;
}

.nav-list {
  position: absolute;
}

.nav-list li:hover {
  text-shadow: 0 0 10px white;
}

.nav-list li {
  transition: .5s;
  font-size: 25px;
}

.content {
  transition: 1s;
}

.contact-content {
  text-align: left;
}

.loading {
  width: 100%;
}

.projectCard {
  display: inline-block;
  width: 200px;
  padding: 10px;
}

.projectIcon {
  width: 100px;
}

.icon {
  width: 75px;
}

.contact-links {
  list-style: none;
}
