body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.smackdown-profile {
  width: 200px;
  box-shadow: 0 0 5px 5px royalblue;
  border-radius: 25px;
  margin-bottom: 10px;
}

.title {
  font-size: 1.5em;
}

.name {
  font-size: 1.2em;
}

.summary {
  width: 600px;
  font-size: 1.2em;
  margin: auto;
  margin-bottom: 10px;
}
.promotions {
  width: 400px;
  font-size: 1.2em;
  margin: 0 auto;
}

.promotion {
  text-align: left;
}
